body {
    font-family: Helvetica, Arial, sans-serif;
}

#qr-template {
    display: none;
}

.qr-item {
    width: 6em;
    height: 9em;
    margin: 1em;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.qr-item .name {
    font-size: small;
    font-weight: bold;
    line-height: 1.4em;
}

.qr-item canvas {
    width: 6rem;
    height: 6rem;
    display: none;
}

.qr-item img {
    width: 6rem;
    height: 6rem;
}

@media screen {
    .qr-item:hover img {
        display: none;
    }
    .qr-item:hover canvas.qr-canvas-screen {
        display: block;
    }
    .qr-item canvas.print {
        display: none!important;
    }

    section .qr-items {
        display: inline-flex;
        flex-wrap: wrap;
    }
}

@media print {
    section {
        page-break-after: always;
    }

    .qr-items {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        page-break-before: avoid;
    }

    .qr-item {
        display: grid;
        align-self: stretch;
        grid-template-columns: 3rem auto;
        column-gap: 1rem;
        width: auto;
        height: 56px;
        text-align: left;
        page-break-inside: avoid;
        page-break-after: auto;
        border: 0.5px dashed #dddddd;
        margin: 0;
    }

    .qr-item img {
        display: none;
    }

    a {
        display: none;
    }

    .qr-item canvas.qr-canvas-print {
        display: inline-block;
        align-self: center;
        height: 48px;
        width: 48px;
        margin: 0 0 0 4px;
    }

    .qr-item .name {
        align-self: center;
    }
}

@media screen {
    .loading::before {
        content: "";
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        margin: 0.5rem;
        border: 3px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        border-top-color: #000;
        opacity: 0.5;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        vertical-align: middle;
    }

    @keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}